@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Book

<div class="card card-outline-primary m-1 p-1">

    <div class="bg-light p-1">
        <h4>@Model.Title</h4>
        <span class="badge bg-info" style="float:right">
            Price: $@Model.Price
        </span>
    </div>
    <ul>
        <!--added list group item dark to create stripes on the list of book details-->
        <div class="list-group-item-dark">
            <li>Author: @Model.Author</li>
        </div>
        <li>Publisher: @Model.Publisher</li>
        <div class="list-group-item-dark">
            <li>Category: @Model.Category</li>
        </div>
        <li>Classification: @Model.Classification</li>
        <div class="list-group-item-dark">
            <li>ISBN: @Model.Isbn</li>
        </div>
        <li>Number of Pages: @Model.PageCount</li>
    </ul>

    <form method="post" asp-page="/Cart">

        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Add to Cart</button>
        </span>

    </form>
</div>